.tripu{
    font-family: 'Architects Daughter', cursive;
}
#ankesh{
    font-family: 'Bangers', cursive;
}
body{
    background-color: aqua;
}
.o{
    color:blue;
}
.a{
    color:rgb(240, 25, 54);
}